<div class="row">
  <div class="col-sm-12">
    <%= link_to t("login"), new_user_session_path, class: "pull-right" %>
  </div>
<div>


  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" id="start-splash">
      <h1>"We used 8 different spreadsheets, just to keep track of quests"</h1>
    </div>
  <div>