// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#start-splash h1 {
  font-size:96px;
  font-family: Garamond, Georgia, serif;
  font-style:italic;
  text-align: center;
}